@import 'core/reset';
@import 'core/variables';
@import 'layout/footer';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-dark-1;
  display: flex;
  overflow-x: hidden;
}

main {
    padding: 100px 0;

  
}

